        {
            name: 'csgo',
            workingDir: '/opt/steam/servers/csgo',
            keyPool: [
            //    generate your keys at https://steamcommunity.com/dev/managegameservers
            //    "00000000000000000000000000000000",
            ],
        },
